.gallery {
  position: relative;
}

.gallery--carousel {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.gallery__track-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__track {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__track--grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: 270px;
}

.gallery__track--carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery__slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__slide--carousel {
  position: absolute;
  top: 0;
  bottom: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;

  transition: 500ms ease;
}

.gallery__image:hover {
  transform: scale(1.125);
}

.gallery__button-container {
  display: none;
}

.gallery__button-container--carousel {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.gallery__button-container:hover .gallery__button {
  opacity: 1;
}

.gallery__button {
  opacity: 0;

  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  top: 50%;
  transform: translateY(-50%);

  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.5);

  transition: 500ms ease;
  transition-property: opacity, background-color;
}

.gallery__button:hover {
  background-color: rgba(255, 255, 255, 0.875);
}

.gallery__button--left {
  left: 2rem;
}

.gallery__button--right {
  right: 2rem;
}

.gallery__button--close {
  width: 1.5rem;
  height: 1.5rem;

  top: 2rem;
  left: 2rem;
  transform: translateY(0);
}

.gallery__button svg {
  width: 50%;
  height: 100%;
  color: var(--dark);
}

.is-hidden {
  display: none;
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .gallery--carousel {
    width: 100vh;
    height: 100vh;
  }
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .gallery__slide--portrait {
    grid-row: span 2 / auto;
  }

  .gallery__slide--landscape {
    grid-column: span 2 / auto;
  }

  .gallery__slide--large {
    grid-column: span 2 / auto;
    grid-row: span 2 / auto;
  }
}
